* {
	-fx-font-size: 11pt;
    -fx-font-family: "Arial";	
    -fx-base: #bfbfbf;
}
.vbox {
	-fx-background-color: #bfbfbf;
		-fx-border-radius: 10;	
}
.tab {
	-fx-padding: 0 0 0 12;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
}

.tab:selected .focus-indicator{
	-fx-border-color: transparent;
	-fx-font-style:italic;
}
.table-view *.scroll-bar:horizontal *.increment-button,
.table-view *.scroll-bar:horizontal *.decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.table-view *.scroll-bar:horizontal *.increment-arrow, 
.table-view *.scroll-bar:horizontal *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}

.menu:hover, .menu:showing, .menu-item:hover {
	-fx-background-color: #595959;
}

.menu-item, .context-menu {
	-fx-background-color: #bfbfbf;
}


.table-view:row-selection .table-row-cell:filled:selected{ 
    -fx-background-color: #595959;    
   
}
.table-view:row-selection .table-row-cell:hover { 
    -fx-background-color: #bfbfbf;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #595959;
    -fx-text-fill: white;
}

.list-cell:even {
    -fx-background-color: white;
}

.list-cell:filled:hover {
    -fx-background-color: #bfbfbf;
    -fx-text-fill: white;
}




.button {
	-fx-background-radius: 10;
}

#btAnadir,#btLimpiar,#bAnadirAlumno,#btAnadirPrestarLibro,#btAnadirLibro,#btMostrarEstadistica, #btAceptar {
	-fx-font: 15 "arial";
	-fx-base: #e0e0e0;
	-fx-border-color: #595959 ;
	-fx-border-radius: 10;
}

#btCancelar,#btSalir,#bCancelar,#btCancelarLibro, #btBorrar, #btCerrar {
	-fx-font: 15 "arial";
	-fx-base: #363636;
}


